name: Static Analysis

on:
  # Trigger the workflow on pushes to only the 'master', 'support' and 'release' branches
  push:
    branches:
      - master
      - support/*
      - release/*
  # Trigger the workflow on any pull request
  pull_request:
    types: [ opened, reopened ]
  # Trigger the workflow on manual dispatch
  workflow_dispatch:

jobs:
  cs:
    runs-on: ubuntu-latest

    name: Code Style

    steps:
    - name: Checkout
      uses: actions/checkout@v3.0.0

    - name: Setup PHP
      uses: shivammathur/setup-php@2.18.1
      with:
        php-version: 8.0
        tools: composer:v2
        coverage: none

    - name: Get Composer Cache Directory
      id: composer-cache
      run: |
        echo "::set-output name=dir::$(composer config cache-files-dir)"
    - uses: actions/cache@v3.0.2
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-composer-

    - name: Install Dependencies
      run: composer update --no-interaction --no-progress --ansi

    - name: Run PHP-CS-Fixer
      run: vendor/bin/php-cs-fixer fix -v --allow-risky=yes --dry-run --ansi

  phpstan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dependency-version: [prefer-lowest, prefer-stable]

    name: PHPStan ${{ matrix.dependency-version }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3.0.0

    - name: Setup PHP
      uses: shivammathur/setup-php@2.18.1
      with:
        php-version: 8.0
        tools: composer:v2
        coverage: none

    - name: Install Dependencies
      run: composer update --prefer-stable --no-interaction --no-progress --ansi

    - name: Run PHPStan
      run: vendor/bin/phpstan analyse --no-progress --ansi
